<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Home</title>
    <body>
        <p>Hola Kiko, gracias.</p>
        <a href = "http://localhost:8000/apps/"> Hola</a>
    </body>
</head>
</html>